body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.9) );
}
div.divisao_esq{
    display: table;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    background-color: rgb(68, 201, 75);
    opacity: 0.5;  
     width: 50px;
    height: 50px;
    background: red;
    transition: width 1s, height 1s, transform 2s; 
    
}
div.divisao_esq:hover {
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
  }
div.titulo{
    padding-top:20px
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: coral;
    letter-spacing:4px;
    text-shadow: 20px -10px 4px rgb(0, 2, 0);
}
h2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: blueviolet;
    letter-spacing:6px;
    text-shadow: 10px 3px 2px rgb(12, 194, 12);
    font-weight: bolder;
}
p.txt1{
    font-family: 'Courier New', Courier;    
    font-size: 20px;
    font-weight: 900;
    text-align: left;
    text-indent: 10px;
    color: rgb(233, 35, 183);
    background-color: aqua;
    text-decoration-line: underline;
    text-decoration-color: brown;
    text-decoration-style: wavy;
}
p.txt2{
    font-family:Arial, Helvetica, sans-serif;    
    font-size: 15px;
    font-weight:bold;
    text-align: right;
    text-indent: 10px;
    text-transform:capitalize;
    letter-spacing:4px;
    text-shadow: 3px 4px 10px red;
}
p.txt3{
    font-family:Georgia, Times, 'Times New Roman';    
    font-size: 19px;
    font-weight:lighter;
    text-align:center;
    text-indent: 10px;
    color: rgb(143, 211, 18);
    background-color: black;
    text-shadow: 3px 4px 10px green;
    word-spacing: 10px;
    font-style:italic;   
}
p.txt4{
    font-family: 'Verdana, Tahoma, sans-serif'; 
    font-size: 23px;
    font-weight:bold;
    text-align:left;
    text-indent: 10px;
    color: rgb(67, 58, 197);
    background-color: rgb(87, 201, 96);   
    opacity: 0.4;
    line-height:50px;
    text-decoration-line: overline;
    text-decoration-style: double;
    text-decoration-color: crimson;
}
p.txt5{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 24px;
    font-weight:100;
    text-align:justify;
    text-indent: 100px;
    color: rgb(97, 51, 8);
    text-decoration-line: underline;
    text-decoration-style:dotted ;
    text-decoration-color: darkgreen;
    word-spacing: 24px;
}
p.txt6{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 20px;
    font-weight:600;
    text-align:center;
    color: rgb(0, 17, 92);
    background-color: rgb(236, 54, 63);
    letter-spacing: -1px;
    line-height:60px;
    font-style:normal; 
    opacity: 0.7;
}
p.txt7{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 17px;
    font-weight:600;
    text-align:end;
    color: yellowgreen;
    background-color: rgb(12, 100, 0);
    text-transform:lowercase;
    text-shadow: -10px -5px 3px rgb(0, 0, 0), 1px 2px 10px rgb(0, 236, 197);
}
p.txt8{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 25px;
    font-weight:lighter;
    text-align:start;
    color: rgba(7, 150, 126, 0.767);
    text-transform: uppercase;
    text-decoration-line: line-through;
    text-decoration-style:dotted;
    text-decoration-color: rgba(71, 0, 48, 0.651);
}
p.txt9{
    font-family:Cambria, Cochin, Georgia, Times; 
    font-size: 25px;
    font-weight:bolder;
    text-align:left;
    color: rgba(255, 191, 239, 0.767);
    text-transform:capitalize;
    text-shadow: 4px 7px 2px rgb(55, 95, 141);
    line-height: 40px;
    letter-spacing: 10px;
}
p.txt10{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 25px;
    font-weight:400;
    text-align:center;
    color: rgba(183, 253, 19, 0.767);
    text-transform:lowercase;
    text-decoration-line: underline;
    text-decoration-style:wavy;
    text-decoration-color: rgba(234, 255, 40, 0.555);
    background-color: rgb(43, 0, 0);
}